@{
	@model SpotifyFake.ViewModels.SongDetail
}

<head>
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/css/CssRubatoW3S.css" asp-append-version="true" />
</head>
<html style="background-image: linear-gradient(rgb(34,34,34),rgb(18,18,18));overflow-y: hidden">

@{
	Random r = new Random();
	int[] estratti = new int[6];
	for (int i = 0; i < 6; i++)
	{
		estratti[i] = r.Next(0, 255);
	}
}
<body>
	<div class="right_menu_home" style="background-image:linear-gradient(to top left, rgb(@estratti[0],@estratti[1],@estratti[2]), rgb(@estratti[3],@estratti[4],@estratti[5])">
		<table style="top:20px; left:20px; position:relative; ">
			<tr>

				<td style="width:440px; height:440px;">
					<img class="display_img_songs"  src="~/media/images/songs/@Model.Songs.imgCode" />
				</td>
				<td>
					<h1 style="font-size:80px; color:white; position:relative; top:75px; left: 100px">
						@Model.Songs.title
					</h1>
					<h3 style="font-size:50px; color:white; position:relative; top:75px; left: 100px;cursor:pointer" onclick="location.href='http://localhost:5101/home/ArtistDetails?artistId=@Model.Songs.artistid'">
						@Model.Songs.ArtistArtName
					</h3>
				</td>
			</tr>

		</table>
		<hr style="top:10px; position:relative" />
		<audio id="audioPlayer" controls>
			<source src="@Url.Content($"~/media/songs/{Model.Songs.title}_{Model.Songs.ArtistArtName}.mp3")" type="audio/mpeg">
		</audio>

		<br />

		
	</div>
</body>
</html>
